<div>
  <div class="row">
    <div class="col s12">

      <div class="card-panel orange accent-1">
        <div class="card-panel">
          <p>Search:</p>
          <input ng-model='$ctrl.query'>
        </div>

        <div class="card-panel">
          <p>message:</p>
          <form ng-submit='$ctrl.addMessage($ctrl.newMessage)'>
            <input type="text" ng-model='$ctrl.newMessage'>
            <button type="submit">add message</button>
          </form>
        </div>
      </div>

      <div class="card-panel orange accent-1">
        <p>You have {{ $ctrl.cards.length }} cards!</p>
        <div class='card-panel'>
          <p>Sort by:</p>
          <select ng-model='$ctrl.orderProp'>
            <option value="firstname">first name</option>
            <option value="lastname">last name</option>
          </select>
        </div>

        <div>
          <ul>
            <li ng-repeat='card in $ctrl.cards | filter: $ctrl.query | orderBy: $ctrl.orderProp'>
              <a href='#/cards/{{ card.phone }}'>{{ card.firstname }} {{ card.lastname }}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
